body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    margin: 20px 0;
}

.button-container {
    margin: 20px;
}

.color-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.vote-count-container {
    margin-top: 20px;
}

.vote-count-container p {
    font-size: 18px;
}

span {
    font-weight: bold;
    color: #333;
}
